.toast {
    margin: auto;
    position: relative;
    width: 90%;
    right: 0px;
    left: 0px;
    text-align: center;
    height: 8%;
    line-height: 25px;
    background: rgba(15, 15, 15, 0.4);
    text-transform: none;
    box-shadow: 0 0 0 10px #632a39 inset;
 
}


.message {
font-family: Helvetica, Arial, sans-serif;
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 25px;
    text-align: center;
    padding: 10px 15px;
    margin: 2px 5px;
    height: 20px;
    /* display: inline-block; */
    cursor: pointer;
    /* width: 60px; */
    border-radius: 4px;
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.19), 0 6px 13px 0 rgba(0, 0, 0, 0.24);
}
